---
import config from "virtual:starlight/user-config";

import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import CustomNavigationMenu from "@/components/CustomNavigationMenu";
import CustomMobileNavigationMenu from "@/components/CustomMobileNavigationMenu";

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
  config.pagefind ||
  config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<div class="w=full flex justify-between">
  <div class="flex items-center">
    <div class="title-wrapper sl-flex">
      <SiteTitle />
    </div>
    <div class="sl-flex print:hidden justify-start items-start">
      <CustomNavigationMenu client:load />
      <CustomMobileNavigationMenu client:load />
    </div>
  </div>

  <div class="sl-hidden md:sl-flex print:hidden right-group min-w-[400px]">
    {shouldRenderSearch && <Search />}
    <div class="sl-flex social-icons">
      <SocialIcons />
    </div>
    <ThemeSelect />
    <LanguageSelect />
  </div>
</div>

<script>
  import Lenis from "lenis";
  import "lenis/dist/lenis.css";

  // Initialize Lenis
  const lenis = new Lenis({
    autoRaf: true,
  });

  // Listen for the scroll event and log the event data
  lenis.on("scroll", (e) => {
    console.log(e);
  });
</script>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .title-wrapper {
    /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
    overflow: clip;
    /* Avoid clipping focus ring around link inside title wrapper. */
    padding: 0.25rem;
    margin: -0.25rem;
    min-width: 0;
    max-width: 210px;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
    justify-items: end;
  }
  .social-icons::after {
    content: "";
    height: 2rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }
</style>
